
config queue
	option enabled '1'
	option interface 'eth1'
	option download '100000'
	option upload '20000'
	option qdisc 'cake'
	option script 'Seg_Layer_Cake.qos'
	option qdisc_advanced '1'
	option ingress_ecn 'ECN'
	option egress_ecn 'ECN'
	option qdisc_really_really_advanced '1'
	option itarget 'auto'
	option etarget 'auto'
	option linklayer 'none'
	option debug_logging '0'
	option verbosity '5'
	option squash_dscp '0'
	option squash_ingress '0'
	option iqdisc_opts 'nat diffserv4 dual-dsthost ack-filter rtt 1ms memlimit 64mb'
	option eqdisc_opts 'nat diffserv4 dual-dsthost ack-filter rtt 1ms memlimit 64mb'
	option enable_mq '1'
	option ctinfo_enable '1'
	option gaming_ip '192.168.1.100'
	option gaming_ip6 'fd00::1'
	option priority_udp_enable '0'
	option priority_tcp_enable '0'
	option browsing_enable '0'
	option gaming_bulk_enable '0'
	option priority_udp_dscp 'cs5'
	option gaming_udp_ports '3659,3074,3478-3480,10000-45000'
	option priority_tcp_dscp 'cs4'
	option gaming_tcp_ports '3659,3074'
	option browsing_tcp_ports '80,8080,443'
	option browsing_udp_ports '443'
	option browsing_dscp 'af21'
	option gaming_bulk_dscp 'cs1'
	option micro_pkt_enable '1'
	option micro_pkt_dscp 'cs6'
	option big_https_downgrade '1'